<div th:fragment="footer">
    <div th:if="${param.embed == null or param.embed[0] != 'true'}">
        <style>
            footer {
                background-color: #343a40;
                color: white;
                padding: 20px 0;
                text-align: center;
                margin-top: 50px;
            }
        </style>
        <footer class="bg-dark text-white py-4 mt-5">
            <div class="container text-center">
                <p>Contact us at help@companionly.com | Copyright 2025</p>
            </div>
        </footer>
    </div>
</div>
