<!DOCTYPE html>

<html layout:decorate="layouts/defaultLayout">
<head>
    <title>Login Page</title>
    <meta charset="ISO-8859-1">
    <title>Companionly - Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/css/custom.css}" rel="stylesheet">

    <style>
          

		.btn-custom:hover {
		    color: rgb(17, 244, 51) !important;
		    font-weight: bold;
		    border-color: black; 
		    background-color: transparent; 
		}
        
      
    </style>
</head>
<body>
    <div class="login-container" layout:fragment="content">

      <form th:action="@{/processLogin}" th:object="${loginModel}" method="POST" class="login-form">
      <div class="welcome-message" style="text-align: center; margin-bottom: 20px;">
    <h2>Welcome back!</h2>
    <p>Log in to find the support you need today.</p>
</div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input th:field="*{email}" class="form-control" type="email" required placeholder="Email">
        <div id="usernamehelp" class="form-text">We'll never share your information with anyone.</div>
        <p class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input th:field="*{password}" class="form-control" type="password" required placeholder="Password">
        <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    </div>

    <!-- General login error message -->
      <div th:if="${param.error}">
                <p style="color: red; font-weight: bold;">Invalid email or password. Please try again.</p>
            </div>

    <div class="button-container" style="display: flex; justify-content: center;">
        <button type="submit" class="btn btn-custom">Login</button>
    </div>
</form>



    </div>
</body>
</html>
